@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
	--color-surface-container-highest: #e1e2ed;
	--color-dark-card: #1F2937;
	--color-setrika: #8B5CF6;
	--color-error: #ba1a1a;
	--color-error-container: #ffdad6;
	--color-inverse-on-surface: #f0f0fb;
	--color-on-error-container: #93000a;
	--color-on-primary-container: #eeefff;
	--color-surface-variant: #e1e2ed;
	--color-surface-container-lowest: #ffffff;
	--color-pending: #94A3B8;
	--color-on-secondary-fixed: #121c28;
	--color-inverse-primary: #b4c5ff;
	--color-on-tertiary-container: #ffede6;
	--color-success: #15803d;
	--color-success-container: #dcfce7;
	--color-tertiary: #943700;
	--color-surface-bright: #faf8ff;
	--color-on-secondary: #ffffff;
	--color-surface: #faf8ff;
	--color-primary: #004ac6;
	--color-danger: #EF4444;
	--color-surface-dim: #d9d9e5;
	--color-on-surface: #191b23;
	--color-on-primary-fixed: #00174b;
	--color-on-secondary-fixed-variant: #3e4755;
	--color-primary-fixed: #dbe1ff;
	--color-secondary: #555f6d;
	--color-secondary-container: #d6e0f1;
	--color-secondary-fixed: #d9e3f4;
	--color-dark-bg: #111827;
	--color-secondary-fixed-dim: #bdc7d8;
	--color-on-tertiary-fixed: #360f00;
	--color-surface-tint: #0053db;
	--color-outline-variant: #c3c6d7;
	--color-on-surface-variant: #434655;
	--color-on-primary: #ffffff;
	--color-inverse-surface: #2e3039;
	--color-tertiary-fixed: #ffdbcd;
	--color-background: #faf8ff;
	--color-outline: #737686;
	--color-primary-container: #2563eb;
	--color-warning: #EAB308;
	--color-on-primary-fixed-variant: #003ea8;
	--color-on-tertiary: #ffffff;
	--color-tertiary-container: #bc4800;
	--color-surface-container-low: #f3f3fe;
	--color-primary-fixed-dim: #b4c5ff;
	--color-on-background: #191b23;
	--color-on-tertiary-fixed-variant: #7d2d00;
	--color-on-secondary-container: #596372;
	--color-tertiary-fixed-dim: #ffb596;
	--color-surface-container-high: #e7e7f3;
	--color-kering: #0EA5E9;
	--color-on-error: #ffffff;
	--color-surface-container: #ededf9;

	--font-headline-md: "Inter", sans-serif;
	--font-label-md: "Inter", sans-serif;
	--font-body-lg: "Inter", sans-serif;
	--font-body-md: "Inter", sans-serif;
	--font-headline-lg-mobile: "Inter", sans-serif;
	--font-body-sm: "Inter", sans-serif;
	--font-headline-lg: "Inter", sans-serif;
	--font-display: "Inter", sans-serif;
	--font-label-sm: "Inter", sans-serif;

	--text-headline-md: 20px;
	--text-label-md: 12px;
	--text-body-lg: 18px;
	--text-body-md: 16px;
	--text-headline-lg-mobile: 22px;
	--text-body-sm: 14px;
	--text-headline-lg: 24px;
	--text-display: 32px;
	--text-label-sm: 11px;

	--spacing-stack-md: 1rem;
	--spacing-gutter: 1rem;
	--spacing-stack-sm: 0.5rem;
	--spacing-touch-target: 2.75rem;
	--spacing-container-margin: 1rem;
	--spacing-stack-lg: 1.5rem;
}
